*{
  box-sizing: border-box;
}

img{
  max-width: 100%;
}

body{
  margin: 0px;
}

header{
  height: 250px;
  background-image: url('header.jpg');
  overflow: auto;
}

header h1{
  text-align: center;
  font-weight: bold;
  font-size: 100px;
  color: #FFFFFF;
}

aside{
  display: inline-block;
  width: 300px;
}

article {
  display: inline-block;
  width: 800px;
  vertical-align: top;
}
